.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.wrapper p{
    font-size:0.8rem;
}

.wrapper__logo{
    width:100px;
    height:32px;
    position: relative;   
}

.wrapper__logo img{
    width:100px;
    height: 100%;

}

