.form input{
    height: 32px;
    background-color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    color:#747474;
    border:none;
    outline:none;
}

.form input:focus{
    border: none;
}

.searchInput{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    width: fit-content;
    width:-moz-fit-content;
    width: -webkit-min-content;
    border:1px solid #f1f1f1
}